/* Font - Libre Franklin */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

html
{
    font-family: var(--Font);
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
/* Header Style */
.container .header
{
    padding: 7rem 0;
}
/* Active state */
.container .header .logo:hover
{
    transition: 0.2s ease-in-out;
    transform: scale(1.02);
}

/* Content Style */
.container .content
{
    cursor: default;
}
.container .content .title
{
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: calc(var(--FontSize) * 2.3);
    color: var(--Neutral1);
}
.container .content .title span
{
    font-weight: 700;
    color: var(--Neutral2);
}
.container .content .text
{
    font-size: var(--FontSize);
    color: var(--Neutral2);
    padding: 2rem;
}

/* Form Style */
.container .content #form
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem;
}
#form .input-box .input
{
    padding: 2rem 3rem;
    width: 42rem;
    height: 6rem;
    border: 0.1rem solid var(--Neutral1);
    border-radius: var(--BorderRadius);
    font-size: calc(var(--FontSize) * 0.8);
}
#form .input-box .input::placeholder
{
    font-family: var(--Font);
    color: var(--Neutral1);
}
#form .submit-bttn
{
    padding: 2rem;
    font-family: var(--Font);
    font-weight: 600;
    font-size: calc(var(--FontSize) * 0.8);
    color: #fff;
    background-color: var(--Primary);
    width: 20rem;
    height: 6rem;
    border: none;
    border-radius: var(--BorderRadius);
    cursor: pointer;
    box-shadow: 0 1rem 1rem -0.3rem var(--Secondary1);
}
#form .submit-bttn:hover
{
    transition: 0.3s ease-in-out;
    opacity: 0.75;
}
#form .input-box .error
{
    display: block;
    color: var(--Secondary2);
    text-align: left;
    padding-top: 0.8rem;
    padding-left: 3.2rem;
    font-style: italic;
    font-size: calc(var(--FontSize) * 0.6);
}